<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Flight Search</title>
	<link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<header>
		<h2> Flight Search Engine</h2>
	</header>
	<main class="main-container" ng-controller="FlightSearchCtrl">
		<section class="left-container">
			<div class="search-form">
				<form>
					<input type="text" name="originCity" ng-model="flight.originCity">
					<input type="text" name="destinationCity" ng-model="flight.destinationCity">
					<input type="date" name="departureDate" ng-model="flight.departureDate">
					<input type="date" name="returnDate" ng-model="flight.returnDate">
					<input type="number" name="passengers" ng-model="flight.passengers">
					<br/>
					<input type="button" name="submit" value="Search" ng-click="searchFlights()">
				</form>	
			</div>
			<div class="search-form refine-search">
				<h4>Refine flight search</h4>
				<input type="range" name="refine_flight" min="0" max="10000" step="1">
			</div>
		</section>
		<section class="right-container">
			<div class="top-right-Container">
				<h2>Pune > Delhi > Pune</h2>
			</div>
			<div class="bottom-right-container">
				<table>
					<tr>
						<td>
							<table class="inner-table">				
								<tr>
									<td colspan="2"><h3>Rs.{{flightDetails[0].price}}</h3></td>
									<td></td>
								</tr>
								<tr>
									<td>{{flightDetails[0].flight}}</td>
									<td>AI-203</td>
								</tr>
								<tr>
									<td>PNQ>DEL</td>
									<td>ADEL>PNQ</td>
								</tr>
								<tr>
									<td>Depart: {{flightDetails[0].depart}}</td>
									<td>Depart: 08:00PM</td>
								</tr>
								<tr>
									<td>Arrive: {{flightDetails[0].arrival}}</td>
									<td>Arrive: 11:00PM</td>
								</tr>
						</table>	
						</td>
					</tr>
				</table>							
			</div>
		</section>
	</main>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="app.js"></script>
</body>
</html>